.Playback {
  display: flex;
}

.TrackerSelector {
  margin-top: 20px;
  margin-bottom: 20px;
}

.PlaybackTermSelector {
  margin-top: 20px;
}

.MapView {
  margin: 20px;
}

.TimeSlider {
  margin-left: 10px;
}
