.StayTimes {
  display: flex;
}

.Graph {
  margin: 20px;
}

.TrackerSelector {
  margin-top: 20px;
  margin-bottom: 40px;
}

.TermSelector {
  margin-top: 40px;
}

.SpanSelector {
  margin-top: 20px;
}
