.contents {
    text-align: center;
}

.formbox {
    position: relative;
    left:30%;
    float:left;
}

.Setting{
    text-align: left;
}
table{
    border-collapse: collapse;
    margin: 20px 50px;
}
td{
    border: 1px solid #000;
}
#table{
    overflow-y: scroll;
    position: relative;
    left: 40%;
    height: 300px; 
    width: 550px;   
}